.btn{
    color: #FFF !important;
    background-color: #133461 !important;
    border-color: #FFF !important;
    border-radius: 10px !important; 
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif !important;
    padding: 22px 38px !important;
}


