.right h2{
  font-family: "Mulish", serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.card{
  margin: 0px 0px 20px 0px;
}
@media screen and (max-width: 992px) {
  .right{
    margin-top: 0 !important;
  } 
} 
