.card {
  padding: 0;
  margin: 20px;
  
}
.center{
  align-items: center !important;
}
.bannerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  margin: 0 20px;
}
@media screen and (max-width: 1200px) {
  .bannerContentRight img{
    width: 200px;
    height: 180px;
  }
  .bannerTitle{
    font-size: 30px;
  }
  .bannerText{
    font-size: 14px;
  }
}