.searchBar{
  margin: 0 40px;
}
.courseContainer{
  margin: 20px 30px !important;
}

.courseContainer > div:first-child {
  margin-left: 40px;
}

@media screen and (max-width: 992px) {
  .right{
    margin-top: 0 !important;
  }
}