.card{
  padding: 0;
  max-width: 380px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.card input{
  margin: 0;
  padding: 15px 10px;
  font-weight: 400;
  font-size: 1.2rem;
  border: none;
  width: 100%;
}

.card img{
  margin: 0 10px;
}

.card input:focus{
  outline: none;
}