.open{
  opacity: 1;
  visibility: visible;
}
.closed{
  opacity: 0;
  visibility: hidden;
}

.sidebar{
  width: 350px;
  height: 80vh;
  flex-direction: column;
  position: fixed;
  background-color: #F0F5FD;
  transition: .5s all ease-in-out;
  overflow-y: scroll;
}

.section button{
  color: #0D2341;
}

.material a{
  color: #0D2341;
  text-decoration: none;
}

.material a:hover{
  color: #000;
}

.section, .material{
  font-family: "Poppins", sans-serif;
}