.colorteks{
    color: #F47522  !important;
    text-decoration: none !important;
}

.layout{
    height: 92vh;
}

.sizeheading {
    font-family: "Mulish", sans-serif !important;
    font-weight: bold !important;
}

.sizetext {
    font-size: 19px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: lighter !important;
}

.rightpage{
    color: #0D2341;
}

.lefttextcolor {
    color: #fff !important;
}

.forminput{
    /* width: 400px !important;  */
    height: 60px !important;
    /* border: 1px solid #19345E !important; */
    border-color: #19345E !important;
    border-radius: 10px !important;
}

.formtextarea{
    border-color: #19345E !important;
    border-radius: 10px !important;
}

.buttonsubmit{
    background: #F47522 !important;
    height: 68px !important; 
    padding: 10px !important;
    border-radius: 10px !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.buttoncancel{
    background: #fff !important;
    height: 68px !important;  
    padding: 10px !important;
    border: 2px solid #D0D6DF !important;
    border-radius: 10px !important;
    color: #0D2341 !important;
    padding-left: 4.5rem !important;
    padding-right: 4.5rem !important;
    font-weight: 700 !important;
}

.headingtext{
    font-family: "Mulish", sans-serif !important;
}

.smalltext {
    font-family: "Poppins", sans-serif !important;
}

.labeltext {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
}

.formradio{
    border: 1px solid #0D2341 ;
    border-radius: 10px 10px !important;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
}

/* .form-check-input:checked{
    background-color: #F47522 !important;
    border-color: #F47522 !important;
} */

.accent:checked{
    /* accent-color: #F47522 !important; */
    background-color: #F47522 !important;
    border-color: #F47522 !important;
}