*{
  margin: 0;
  padding: 0;
}

.onlineBoardContainer{
  max-width: 350px;
  margin: 30px auto 0;
}

.card{
  border-radius: 20px;
  padding:10px;
  border: 2px solid #E7E7E7;
  box-shadow: none;
}
.title{
  text-align: start;
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  color: #133461;
  font-weight: bold;
}

.card > table > thead> tr > th{
  color: #F47522;
}
.card > table > tbody > tr > td{
  font-weight: 500;
  color: #133461;
  font-size: 14px;
}
.card > table > tbody > tr > td, .card > table > thead> tr > th{
  padding: 10px 0px 10px 10px;
  font-family: "Poppins", sans-serif;
  text-align: start;
}

.card table{
  width: 100%;
}
