.layout{
    height: 92vh;
}

.lefttextcolor {
    color: #fff !important;
}

.sizeheading {
    font-family: "Mulish", sans-serif !important;
    font-weight: bold !important;
}

.sizetext {
    font-size: 19px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: lighter !important;
}

.forminput{
    width: 400px !important; 
    height: 60px !important;
    border-color: #19345E !important;
    border-radius: 10px !important;
}

.buttonreset{
    background: #F47522 !important;
    width: 400px !important; 
    height: 60px !important; 
    border-radius: 1rem !important; 
    color: #0D2341 !important;
    font-weight: bold !important;
}

.leftpage{
    background-color: #133461;
}

.rightpage{
    color: #0D2341;
}

.headingtext{
    font-family: "Mulish", sans-serif;
}

.smalltext {
    font-family: "Poppins", sans-serif;
}

.labeltext {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
}