.training{
  margin: 20px 70px;
}

.title{
  font-family: "Mulish", sans-serif;
  color: #0D2341;
  font-weight: bold;
  margin: 0;
}

.contentTitle, .schedule, .readMore a{
  font-family: "Poppins", sans-serif;
  color: #0D2341;
}

.readMore a{
  text-decoration: none;
}