.sizeheading {
    font-family: "Mulish", sans-serif !important;
    font-weight: bold !important;
    color: #0D2341 !important;
}

.banner {
    background-color: #D6DEEC !important;
}

.colorteks{
    color: #0D2341 !important;
}

.dropdownheader{
    font-weight: 600 !important;
}

.dropdowncolor{
    background-color: #D6DEEC !important;
    border: 0 !important;
    border-radius: 20px !important;
}

.leftpagecontent{
    border: 2px solid #D6DEEC !important;
    border-radius: 20px !important;
}

.sizetext {
    font-size: 16px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: lighter !important;
}

.rightpagecontent{
    border-radius: 20px !important;
}

.buttoncontact{
    background: #F47522 !important;
    width: 95% !important;
    height: 60px !important; 
    border-radius: 1rem !important; 
    color: #fff !important;
    font-weight: bold !important;
}

.sidebar{
    color: #0D2341 !important;
}

.active {
    color: #F47522 !important;
}