.card {
  padding: 0;
  margin: 40px;
  background-color: #133461;
}
.bannerContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  margin: 0 30px;
}

.bannerContentLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px 0;
}

.bannerContent .bannerContentLeft .bannerInfoWrapper .bannerTitle{
  font-weight: 700;
}

.bannerTitle{
  font-size: 32px;
  letter-spacing: 1px;
  font-family: "Mulish", serif;
  color: #FFF;
}

.bannerText{
  font-size: 18px;
  font-weight: normal;
  font-family: "Poppins", serif;
  color: #FFF;
}

.bannerContentRight img{
  width: 300px;
  height: 250px;
  margin-top: 20px;
}

.btn{
  background-color: #F47522 !important;
  color: #FFF !important;
  font-family: "Poppins", sans-serif;
  padding: 10px !important;
  font-weight: 500 !important;
}
.btn:hover{
  color: #FFF;
}
@media screen and (max-width: 1200px) {
  .bannerContentRight img{
    width: 200px;
    height: 180px;
  }
  .bannerTitle{
    font-size: 30px;
  }
  .bannerText{
    font-size: 14px;
  }
}