.orange{
    background-color: #F47522 !important; 
    border-color: #F47522 !important;
    border-radius: 0 10px 10px 0 !important;
} 
.grey{
    background-color: #E7E7E7 !important;
    border: none;
    border-radius: 0 10px 10px 0 !important;
    color: #0D2341;
}
.white{
    background-color: #FFF !important; 
    border-color: #FFF !important;
} 
.orange h4{
    color: #FFF;
    font-weight: 700;
    margin: 0;
    font-family: "Mulish", serif;
}
.startcourse{
    /* width: 400px; */
    margin-right: 40px;
}
.card{
    padding: 40px 0 40px 0;
}
.item{
    color: #0D2341;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.material{
  border-bottom: 1px solid #0D2341;
}

.material a{
    color: #0D2341;
    text-decoration: none;
}

.material a:hover{
    color: #0D2341;
}